/* helvetica font inclusion */
 h1 {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 24px;
     font-style: normal;
     font-variant: normal;
     font-weight: 700;
     line-height: 26.4px;
}
 h3 {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 14px;
     font-style: normal;
     font-variant: normal;
     font-weight: 700;
     line-height: 15.4px;
}
 p {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 14px;
     font-style: normal;
     font-variant: normal;
     font-weight: 400;
     line-height: 20px;
}
 blockquote {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 21px;
     font-style: normal;
     font-variant: normal;
     font-weight: 400;
     line-height: 30px;
}
 pre {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 13px;
     font-style: normal;
     font-variant: normal;
     font-weight: 400;
     line-height: 18.5714px;
}
/* html css */
 .homepage {
     background: url(../../img/1.jpg) no-repeat center center;
     background-size: cover;
}
 .homepage > .hero-body > .container {
     margin-bottom: 15% !important;
}
 .homepage> .hero-body > .container > h1 {
     font-size: 48px !important;
}
 .homepage > .hero-body > .container > h2 {
     font-size: 24px !important;
}
 .tabs li.is-active a {
     border-bottom-color: skyblue;
     color: skyblue;
}
 .testimonial {
     padding: 120px;
    ;
}
 .about-content {
     padding-bottom: 180px;
     padding-top: 90px;
}
 .contact-content {
     margin-top: -150px;
}
 .field {
     padding: 200px;
}
/*for mobile support */
 @media only screen and (max-width: 1000px) {
     body {
         padding: 10.5px;
    }
     .testimonial {
         padding: 0 !important;
    }
     .about-content {
         padding-top: 0 !important;
    }
     .field {
         padding: 0 !important;
    }
     .contact-content {
         margin-top: 0 !important;
    }
}
 .container {
     padding-top: 70px;
}
/* scrollbar configuration(skyblue) */
 ::-webkit-scrollbar {
     width: 12px;
     background-color: white;
}
 ::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     -webkit-border-radius: 10px;
     border-radius: 10px;
}
 ::-webkit-scrollbar-thumb {
     -webkit-border-radius: 10px;
     border-radius: 10px;
     background: skyblue;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
 ::-webkit-scrollbar-thumb:window-inactive {
     background: rgba(255,0,0,0.4);
}
/* slide animation */
 .slideanim {
     visibility:hidden;
}
 .slidenow {
     animation-name: slide;
     -webkit-animation-name: slide;
     animation-duration: 3s;
     -webkit-animation-duration: 3s;
     visibility: visible;
}
 .slide {
     animation-name: slide;
     -webkit-animation-name: slide;
     animation-duration: 2s;
     -webkit-animation-duration: 2s;
     visibility: visible;
}
 @keyframes slide {
     0% {
         opacity: 0;
         transform: translateY(70%);
    }
     100% {
         opacity: 1;
         transform: translateY(0%);
    }
}
 @-webkit-keyframes slide {
     0% {
         opacity: 0;
         -webkit-transform: translateY(70%);
    }
     100% {
         opacity: 1;
         -webkit-transform: translateY(0%);
    }
}
